<nav>
  <div class="name">
    <a href="#hero"
      ><img src="./../../../../assets/img/06-header-section/kaloyan.png" alt=""
    /></a>
  </div>
  <div class="menu" *ngIf="showMenu">
    <ul>
      <li (click)="setActive('about me')">
        <a href="#about"> {{ "header.menu.about" | translate }}</a>
        <div
          [ngClass]="{ 'purple-line': activeSection === 'about me' }"
          class="purple-line"
        ></div>
      </li>
      <li (click)="setActive('skills')">
        <a href="#skills">Skills</a>
        <div [ngClass]="{ 'purple-line': activeSection === 'skills' }"></div>
      </li>
      <li (click)="setActive('portfolio')">
        <a href="#portfolio">Portfolio</a>
        <div [ngClass]="{ 'purple-line': activeSection === 'portfolio' }"></div>
      </li>
    </ul>
    <app-language-switch></app-language-switch>
  </div>
  <div (click)="showMobileMenu()" class="burger-menu" *ngIf="showMenu">
    <img
      src="./../../../../assets/img/06-header-section/burger-menu.png"
      alt=""
    />
  </div>
  <app-language-switch *ngIf="!showMenu"></app-language-switch>
</nav>
