@import "../../scss/global.scss";

nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-height: 109px;
  width: 100%;
  max-width: 1920px;
  background-color: $primary-background-color;
  color: $primary-color;
  @include dFlex($jc: space-between);
  padding: 0px 100px 0px 100px;
  box-sizing: border-box;
  z-index: 1000;
}

.name {
  img {
    width: 150px;
    cursor: pointer;
  }
  font-weight: 800;
}

.menu {
  display: flex;
  column-gap: 29px;
  a {
    font-size: 23px;
    &:hover {
      color: $accent-color;
    }
  }
}

nav ul {
  @include dFlex();
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 5px;
}

.purple-line {
  width: 53px;
  height: 3px;
  background-color: $secondary-color;
  border-radius: 2px;
}

.language-switch {
  @include dFlex();
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  width: 60px;
  height: 30px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dbdbdb;
  border-radius: 30px;
  transition: background-color 0.4s ease;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-image: url("./../../../../assets/img/header-section/uk-flag.png");
  background-size: cover;
  top: 2px;
  left: 2px;
  transition: transform 0.4s ease, background-image 0.4s ease;
}

input:checked + .slider:before {
  transform: translateX(30px);
  background-image: url("./../../../../assets/img/header-section/german-flag.png");
}
