<section>
  <div class="testimonial-content">
    <div class="testimonial-box">
      <div class="testimonial-sign">
        <img src="./../../assets/img/04-feedback-section/comment.png" alt="" />
      </div>
      <div class="testimonial-text-and-author">
        <div class="testimonial-text">
          <p>
            {{ "feedback." + testimonialIndex + ".feedback" | translate }}
          </p>
        </div>
        <div class="testimonial-author">
          <div class="purple-line-author"></div>
          <p>
            {{ "feedback." + testimonialIndex + ".author" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="testimonial-img">
      <img
        src=" {{ 'feedback.' + testimonialIndex + '.imgPath' | translate }}"
        alt=""
      />
      <div class="purple-line-img"></div>
    </div>
  </div>
  <div class="testimonial-navigation">
    <div (click)="prevTestimonial()" class="arrow-left">
      <img
        class="arrow-img-left"
        src="./../../assets/img/04-feedback-section/arrow-left.png"
        alt=""
      />
    </div>
    <div *ngFor="let item of testimonialData" class="dot-position">
      <img
        *ngIf="currentTestimonial != item"
        src="./../../assets/img/04-feedback-section/green-dot.png"
        alt=""
      />
      <img
        *ngIf="currentTestimonial == item"
        src="./../../assets/img/04-feedback-section/purple-dot.png"
        alt=""
      />
    </div>
    <div (click)="nextTestimonial()" class="arrow-right">
      <img
        class="arrow-img-right"
        src="./../../assets/img/04-feedback-section/arrow-right.png"
        alt=""
      />
    </div>
  </div>
  <div class="feedback-shadow">
    <img src="assets/img/04-feedback-section/feedback-shadow.svg" alt="" />
  </div>
</section>
