<section data-aos="fade-up" data-aos-duration="1000">
  <div class="testimonial-content">
    <div class="testimonial-box">
      <div class="testimonial-sign">
        <img src="assets/img/04-feedback-section/comment.png" alt="" />
      </div>
      <div class="testimonial-text-and-author">
        <div class="testimonial-text">
          <p>{{ current?.feedback }}</p>
        </div>
        <div class="testimonial-author">
          <div class="purple-line-author"></div>
          <p>{{ current?.author }}</p>
        </div>
      </div>
    </div>
    <div class="testimonial-img">
      <img [src]="images[currentIndex]" [alt]="current?.author || ''" />
      <div class="purple-line-img"></div>
    </div>
  </div>
  <div class="testimonial-navigation">
    <button
      (click)="prevTestimonial()"
      class="icon-button arrow-left"
      aria-label="Previous testimonial"
    >
      <img
        class="arrow-img-left"
        src="assets/img/04-feedback-section/arrow-left.png"
        alt=""
      />
    </button>
    @for (item of testimonials; track $index) {
      <button
        class="icon-button dot-position"
        (click)="select($index)"
        [attr.aria-label]="'Show testimonial ' + ($index + 1)"
        [attr.aria-current]="$index === currentIndex"
      >
        <img
          [src]="
            $index === currentIndex
              ? 'assets/img/04-feedback-section/purple-dot.png'
              : 'assets/img/04-feedback-section/green-dot.png'
          "
          alt=""
        />
      </button>
    }
    <button
      (click)="nextTestimonial()"
      class="icon-button arrow-right"
      aria-label="Next testimonial"
    >
      <img
        class="arrow-img-right"
        src="assets/img/04-feedback-section/arrow-right.png"
        alt=""
      />
    </button>
  </div>
  <div class="feedback-shadow breathing-size">
    <img src="assets/img/04-feedback-section/feedback-shadow.svg" alt="" />
  </div>
</section>
