<section id="about">
  <div class="about-me-content">
    <div class="content-title">About Me</div>
    <div class="content-text">
      <div class="about-me-text-personal">
        <p>{{ "ABOUT_ME.PART1" | translate }}</p>
      </div>
      <div class="about-me-box">
        <img
          class="scale-on-hover"
          src="../../assets/img/01-bout-me-section/icons/location.svg"
          alt=""
        />
        <div class="description-content">
          Flexible in terms of working environments, I can work effectively both
          on-site in Munich and remotely.
        </div>
      </div>
      <div class="about-me-box">
        <img
          class="scale-on-hover"
          src="../../assets/img/01-bout-me-section/icons/bulb.svg"
          alt=""
        />
        <div class="description-content">
          I am open-minded and always looking for personal challenges to
          constantly improve my knowledge and skills.
        </div>
      </div>
      <div class="about-me-box">
        <img
          class="scale-on-hover"
          src="../../assets/img/01-bout-me-section/icons/puzzle.svg"
          alt=""
        />
        <div class="description-content">
          In my profession, programming isn't just about writing code; it's a
          creative form of problem-solving. I take pride in my ability to
          distill complex technical challenges into simple, user-friendly
          solutions. This way, I help you achieve your goals and bring your
          visions to life.
        </div>
      </div>
    </div>
  </div>
  <div class="about-me-img">
    <img src="./../../assets/img/01-bout-me-section/kaloyan2.png" alt="" />
    <div class="green-line-div"></div>
  </div>
</section>
