<section id="about">
  <div class="about-me-content">
    <div class="content-title">{{ "aboutMe.title" | translate }}</div>
    <div class="content-text">
      <div class="about-me-text-personal">
        <p>{{ "aboutMe.introduction" | translate }}</p>
      </div>
      <div class="about-me-box">
        <img
          class="scale-on-hover"
          src="../../assets/img/01-bout-me-section/icons/location.svg"
          alt=""
        />
        <div class="description-content">
          <p>{{ "aboutMe.flexible" | translate }}</p>
        </div>
      </div>
      <div class="about-me-box">
        <img
          class="scale-on-hover"
          src="../../assets/img/01-bout-me-section/icons/bulb.svg"
          alt=""
        />
        <div class="description-content">
          <p>{{ "aboutMe.open-minded" | translate }}</p>
        </div>
      </div>
      <div class="about-me-box">
        <img
          class="scale-on-hover"
          src="../../assets/img/01-bout-me-section/icons/puzzle.svg"
          alt=""
        />
        <div class="description-content">
          <p>{{ "aboutMe.knowledge" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-me-img">
    <img src="./../../assets/img/01-bout-me-section/kaloyan2.png" alt="" />
    <div class="green-line-div"></div>
  </div>
</section>
