<section id="hero">
  <div class="hero-top">
    <div class="hero-left">
      <div class="image-wrapper">
        <img
          class="developer-image"
          src="../../assets/img/00-hero-section/dev-img.png"
          alt="Developer Image"
        />
        <img
          class="background-image"
          src="../../assets/img/00-hero-section/dev-img-background.png"
          alt="Background Image"
        />
      </div>
    </div>
    <div class="hero-right">
      <div class="intro-text">
        <div class="intro-greeting"><p>I am</p></div>
        <div class="intro-details">
          <div class="intro-name">
            <p>Kaloyan Ivanov</p>
          </div>
          <div class="intro-role">
            <p>Frontend Developer</p>
          </div>
        </div>
      </div>
      <div class="cta-button">
        <a href="#contact" class="btn-green button-optic cta-btn">{{
          "hero.cta-button" | translate
        }}</a>
      </div>
    </div>
  </div>
  <div class="hero-bottom">
    <div class="bottom-left">
      <div class="purple-line"></div>
      <a
        target="_blank"
        rel="noopener"
        href="https://github.com/KaloyanIvan0v"
        class="social-link-div scale-on-hover"
      >
        <img src="assets/img/07-other/social-icons/github/git-hub.svg" alt="" />
      </a>
      <a
        target="_blank"
        rel="noopener"
        href="mailto:info@kaloyanivanov.de"
        class="social-link-div scale-on-hover"
      >
        <img src="assets/img/07-other/social-icons/mail/email.svg" alt="" />
      </a>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.linkedin.com/in/kaloyan-ivanov-655a27302"
        class="social-link-div scale-on-hover"
      >
        <img
          src="assets/img/07-other/social-icons/linkedin/linkedin.svg"
          alt=""
        />
      </a>
      <div class="e-mail-p">
        <a href="#contact"><p>info&#64;kaloyanivanov.de</p></a>
      </div>
    </div>
    <div class="bottom-right">Scroll down -></div>
  </div>
  <div class="bottom-wave-wrapper">
    <img src="../../assets/img/00-hero-section/wave.png" alt="" />
    <div class="bottom-wave-background"></div>
  </div>

  <!-- <div class="purple-shadow">
    <img src="assets/img/00-hero-section/purple-shadow.png" alt="" />
  </div> -->
</section>
