@import "./../shared/scss/global.scss";

section {
  position: relative;
  @include dFlex($fd: column);
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  background-color: $primary-background-color;
  padding-top: 300px;
}

.hero-top {
  height: 100%;
  width: 100%;
  display: flex;
}

.hero-left {
  @include dFlex();
  height: 50%;
  width: 100%;
  margin-left: 47px;
  padding-top: 70px;
}

.image-wrapper {
  position: absolute;
  height: 72vh;
  max-height: 1200px;
  min-width: 500px;
  max-width: 646px;
  top: 19vh;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    position: absolute;
    width: auto;
    height: 100%;
  }
}

.developer-image {
  width: 100%;
  z-index: 1;
}

.background-image {
  width: 170%;
  top: 80px;
}

.hero-right {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
  margin-right: 100px;
}

.intro-text {
  position: absolute;
  bottom: 8vh;
  display: flex;
  align-items: center;
  margin-bottom: 44px;
  width: 838px;
  line-height: 1.1;
  padding-bottom: 22px;
}

.cta-button {
  position: absolute;
  bottom: 8vh;
}

.intro-details {
  width: 100%;
}

.intro-greeting {
  height: max-content;
  @include dFlex($jc: space-between);
  transform: rotate(-90deg);
  font-size: 64px;
  p {
    white-space: nowrap;
  }
}

.intro-name {
  p {
    font-size: 84px;
    font-weight: 700;
    white-space: nowrap;
  }
}

.intro-role {
  p {
    font-size: 64px;
    font-weight: 400;
    color: $secondary-color;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.bottom-wave-wrapper {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 45vh;
  z-index: 1;
  img {
    position: absolute;
    top: 0px;
    width: 100%;
    max-height: 70vh;
    min-width: 320px;
    z-index: 3;
  }
}

.bottom-wave-background {
  position: absolute;
  bottom: -63%;
  width: 100%;
  height: 100%;
  background-color: $primary-background-color;
}

.hero-bottom {
  @include dFlex($jc: space-between);
  width: 100%;
  z-index: 3;
  padding-right: 100px;
  padding-bottom: 8px;
}

.bottom-left {
  @include dFlex($jc: flex-start);
  gap: 32px;
  padding-bottom: 4px;
}

.purple-line {
  min-height: 4px;
  width: 100px;
  background-color: $secondary-color;
}

.bottom-right {
  @include dFlex($jc: right);
  font-size: 23px;
  transform-origin: top right;
  transform: rotate(90deg);
  font-weight: 300;
  height: max-content;
}

.purple-shadow {
  position: absolute;
  right: calc(-1 * ((100vw - 60%) / 2));
  top: 90vh;
  z-index: 2;
}

.social-link-div {
  @include dFlex();
}
