<section id="contact">
  <div class="headline">
    <div class="purple-line-left"></div>
    <p class="g-title">{{ "contact.sectionTitle" | translate }}</p>
  </div>

  <div class="contact-main-content">
    <div class="contact-left-container">
      <div class="call-to-action-content">
        <div class="call-to-action-header">
          <p>{{ "contact.title" | translate }}</p>
        </div>
        <div class="call-to-action-text">
          <p>{{ "contact.text" | translate }}</p>

          <p>
            {{ "contact.cta.part1" | translate }}
            <span class="call-to-action-span"
              >{{ "contact.cta.part2" | translate }}
            </span>
          </p>
        </div>
      </div>
    </div>

    <app-form class="contact-form"></app-form>
  </div>
  <div class="contact-shadow">
    <img src="assets/img/05-contact-section/contact-shadow.svg" alt="" />
  </div>
</section>
