<section id="contact">
  <div class="headline">
    <div class="purple-line-left"></div>
    <p>Contact</p>
  </div>

  <div class="contact-main-content">
    <div class="contact-left-container">
      <div class="call-to-action-content">
        <div class="call-to-action-header">
          <p>Got a problem to solve?</p>
        </div>
        <div class="call-to-action-text">
          <p>
            Contact me through this form, I am interested in hearing from you,
            knowing your ideas and contributing to your projects with my work.
          </p>
          <p>Need a Frontend developer? Contact me!</p>
        </div>
      </div>
    </div>

    <app-form class="contact-form"></app-form>
  </div>
  <div></div>
</section>
