<section>
  <div class="left-footer">
    <div class="dev-name">
      <img src="./../../../../assets/img/kaloyan.png" alt="" />
    </div>
    <div class="imprint">
      <span><a href="">Imprint</a></span>
      <div class="green-line"></div>
    </div>
  </div>
  <div class="middle-footer">© Kaloyan Ivanov 2024</div>
  <div class="right-footer">
    <div class="social-link-div scale-on-hover">
      <a href=""></a>
      <img
        src="./../../../../assets/img/social-icons/github/git-hub.svg"
        alt=""
      />
    </div>
    <div class="social-link-div scale-on-hover">
      <a href=""></a>
      <img src="./../../../../assets/img/social-icons/mail/email.svg" alt="" />
    </div>
    <div class="social-link-div scale-on-hover">
      <a href=""></a
      ><img
        src="./../../../../assets/img/social-icons/linkedin/linkedin.svg"
        alt=""
      />
    </div>
  </div>
</section>
