@import "./../shared/scss/global.scss";

section {
  position: relative;
  @include dFlex($jc: space-around);
  width: 100vw;
  max-width: 1920px;
  margin-top: 180px;
  margin-bottom: 180px;
  margin-left: 100px;
}

.skill-icons-container {
  width: 50%;
  max-width: 664px;
  height: 404px;
  @include dFlex($jc: left);
  flex-wrap: wrap;
  gap: 40px 88px;
}

.single-skill {
  position: relative;
  @include dFlex($fd: column, $ai: center);
  width: 88px;
  height: 101px;
  img {
    width: auto;
    height: 60px;
  }
  p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
    line-height: 1.4;
  }
  &:hover {
    .pop-up-interest {
      visibility: visible;
      opacity: 1;
      transition: all 0.354s ease;
    }
    .purple-filter {
      filter: none;
    }
    .purple-typography {
      color: $primary-color;
    }
  }
}

.pop-up-interest {
  width: 188px;
  height: 129px;
  position: absolute;
  top: -120px;
  left: -5px;
  opacity: 0;
  visibility: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.purple-filter {
  filter: invert(40%) sepia(109%) saturate(5794%) hue-rotate(246deg)
    brightness(90%) contrast(101%);
}

.purple-typography {
  color: $secondary-color;
}

.skill-content-container {
  @include dFlex($fd: column, $ai: end, $jc: end);
  height: 404px;
  width: 50%;
  align-items: right;
  padding-right: 100px;
  a {
    width: 200px;
    margin-top: 55px;
  }
  p {
    text-align: right;
  }
}

.skill-content-title {
  @include dFlex($jc: right);
  margin-bottom: 40px;
  font-size: 90px;
  font-weight: 700;
  margin-right: -100px;
}

.purple-line {
  height: 3px;
  width: 64px;
  background-color: $secondary-color;
  margin-left: 32px;
}

.sub-title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 16px;
  span {
    color: $secondary-color;
    font-weight: 700;
  }
}

.jump-to-top-on-hover {
  transition: transform 0.125s ease;
  &:hover {
    img {
      transform: translateY(-10px);
      transition: transform 0.3s ease;
    }
  }
}

.my-skills-shadow {
  position: absolute;
  left: 20px;
  top: 200px;
}
