@import "./../shared/scss/global.scss";

section {
  position: relative;
  @include dFlex($jc: space-between);
  width: 100vw;
  max-width: 1920px;
  margin-top: 180px;
  margin-bottom: 180px;
  box-sizing: border-box;
}

.skill-content-container {
  width: 605px;
  @include dFlex($fd: column, $ai: end);
  box-sizing: border-box;
}

.experience-div {
  @include dFlex($jc: end);
  margin-bottom: 24px;
  padding-right: 100px;
  > p {
    max-width: 470px;
    text-align: right;
  }
}

.skill-content-title {
  @include dFlex();
  margin-bottom: 40px;
}

.purple-line-title {
  width: 100%;
  font-size: 90px;
  font-weight: 700;
}

.purple-line {
  height: 3px;
  width: 70px;
  background-color: $secondary-color;
}

.sub-title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 16px;
  padding-right: 100px;
  text-align: right;
  span {
    color: $secondary-color;
    font-weight: 700;
  }
}

.cta-div {
  padding-right: 100px;
  > p {
    text-align: right;
  }
}

.my-skills-shadow {
  position: absolute;
  left: 0px;
  top: 200px;
  z-index: -1;
}
.get-in-touch {
  font-size: 22px;
  margin-right: 100px;
  margin-top: 40px;
}

.skill-icons-container-desktop {
  padding-left: 48px;
  min-width: 664px;
}

.skill-icons-container-mobile {
  display: none;
  padding: 24px;
  width: 100%;
}

@media (max-width: 1350px) {
  section {
    padding: 20px;
    box-sizing: border-box;
    @include dFlex($jc: end);
  }
  .skill-icons-container-desktop {
    display: none;
  }

  .skill-icons-container-mobile {
    display: block;
  }

  .skill-content-container {
    width: 700px;
  }

  .skill-content-title {
    @include dFlex($jc: end);
    width: 100%;
    gap: 12px;
  }

  .purple-line-title {
    width: max-content;
    text-align: right;
  }

  .purple-line {
    width: 20%;
  }

  .sub-title {
    padding-right: 20px;
  }

  .experience-div {
    padding-right: 20px;
  }

  .cta-div {
    padding-right: 20px;
  }

  .get-in-touch {
    margin-right: 20px;
    margin-top: 40px;
  }
}

@media (max-width: 1000px) {
  .purple-line-title {
    font-size: 56px;
  }
}

@media (max-width: 450px) {
  .purple-line-title {
    font-size: 42px;
  }

  .sub-title {
    font-size: 28px;
  }
}

@media (max-width: 350px) {
  .purple-line-title {
    font-size: 32px;
  }

  .get-in-touch {
    font-size: 16px !important;
  }
}
