<section id="skills">
  <div class="skill-icons-container">
    <div
      *ngFor="let skill of mySkillsData"
      class="single-skill jump-to-top-on-hover"
    >
      <img src="{{ skill.image }}" alt="" />
      <p>{{ skill.title }}</p>
    </div>

    <div class="single-skill">
      <img
        class="purple-filter"
        src="./../../assets/img/02-skills-section/learning.svg"
        alt=""
      />
      <p class="purple-typography">Continually Learning</p>
      <div class="pop-up-interest">
        <img
          src="./../../assets/img/02-skills-section/special-interest.svg"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="skill-content-container">
    <div class="skill-content-title">
      {{ "mySkills.title" | translate }}
      <div class="purple-line"></div>
    </div>
    <div>
      <p>{{ "mySkills.part1" | translate }}</p>
    </div>
    <div class="sub-title">
      {{ "mySkills.part2a" | translate }}
      <span>{{ "mySkills.part2b" | translate }}</span
      >?
    </div>
    <div>
      <p>{{ "mySkills.part3" | translate }}</p>
    </div>
    <a class="button-optic btn-green get-in-touch" href="#contact">{{
      "mySkills.cta-button" | translate
    }}</a>
  </div>
  <div class="my-skills-shadow">
    <img src="assets/img/02-skills-section/my-skills-shadow.svg" alt="" />
  </div>
</section>
