<section id="skills">
  <app-skills-grid class="skill-icons-container-desktop"></app-skills-grid>
  <div class="skill-content-container">
    <div class="skill-content-title">
      <div class="purple-line-title">{{ "mySkills.title" | translate }}</div>
      <div class="purple-line"></div>
    </div>
    <div class="experience-div">
      <p>{{ "mySkills.part1" | translate }}</p>
    </div>
    <app-skills-grid class="skill-icons-container-mobile"></app-skills-grid>
    <div class="sub-title">
      {{ "mySkills.part2a" | translate }}
      <span>{{ "mySkills.part2b" | translate }}</span
      >?
    </div>
    <div class="cta-div">
      <p>{{ "mySkills.part3" | translate }}</p>
    </div>
    <a
      data-aos="fade-left"
      data-aos-anchor-placement="bottom-bottom"
      class="button-optic btn-green get-in-touch"
      href="#contact"
      >{{ "mySkills.cta-button" | translate }}</a
    >
  </div>
  <div class="my-skills-shadow">
    <img src="assets/img/02-skills-section/my-skills-shadow.svg" alt="" />
  </div>
</section>
