@import "./../../shared/scss/global.scss";

section {
  @include dFlex();
  width: 100vw;
  max-width: 1920px;
  gap: 48px;
  z-index: 2;
}

.project-data {
  @include dFlex($fd: column, $ai: top);
  row-gap: 15px;
  max-width: 500px;
}

.project-title {
  width: max-content;
  font-size: 32px;
  font-weight: 700;
  color: $secondary-color;
}

.tech-stack {
  width: max-content;
  @include dFlex();
  gap: 8px;
  div {
    @include dFlex();
    font-size: 23px;
    color: $accent-color;
    gap: 8px;
  }
}

.project-buttons {
  width: max-content;
  display: flex;
  margin-top: 15px;
  gap: 86px;
}

@media (max-width: 1300px) {
  section {
    gap: 0px;
  }

  .project-image {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 1150px) {
  section {
    @include dFlex($fd: column);
  }

  .project-data {
    align-items: center !important;
    margin-top: 35px;
  }
}

@media (max-width: 650px) {
  .project-image {
    img {
      width: 95%;
      height: auto;
    }
  }

  section {
    > div {
      width: 90%;
    }
  }
}

@media (max-width: 500px) {
  .project-buttons {
    gap: 64px;
    a {
      font-size: 18px;
    }
  }
}

@media (max-width: 430px) {
  .tech-stack {
    div {
      font-size: 18px;
    }
  }
}

@media (max-width: 400px) {
  .project-title {
    font-size: 28px;
  }
  .project-buttons {
    gap: 48px;
    a {
      font-size: 16px;
      gap: 0px;
    }
  }
}
