<section
  [ngStyle]="{
    'flex-direction':
      innerWidth < 1150
        ? 'column'
        : (2 + dataIndex) % 2 === 0
        ? ''
        : 'row-reverse'
  }"
>
  <div class="project-image">
    <img src="{{ data[dataIndex].imgPath }}" alt="" />
  </div>
  <div
    class="project-data"
    [ngStyle]="{
      'align-items':
        innerWidth > 1150 && (2 + dataIndex) % 2 === 0 ? '' : 'end',
    }"
  >
    <div class="project-title">
      {{ data[dataIndex].name }}
    </div>
    <div class="tech-stack">
      <div *ngFor="let tech of data[dataIndex].techStack">
        {{ tech }}
        <div
          *ngIf="
            tech !==
            data[dataIndex].techStack[data[dataIndex].techStack.length - 1]
          "
        >
          |
        </div>
      </div>
    </div>
    <div class="project-description-text">
      {{ "portfolio.project-descriptions." + dataIndex | translate }}
    </div>
    <div class="project-buttons">
      <a
        target="_blank"
        rel="noopener"
        href="{{ data[dataIndex].liveTestUrl }}"
        class="button-optic btn-purple live-test"
        >Live test</a
      >
      <a
        target="_blank"
        rel="noopener"
        href="{{ data[dataIndex].gitHubUrl }}"
        class="button-optic btn-empty git-hub"
        >GitHub</a
      >
    </div>
  </div>
</section>
