<section
  class="project"
  [class.reverse]="index % 2 === 1"
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-offset="350"
>
  <div class="project-image">
    <img
      data-aos="flip-up"
      data-aos-offset="230"
      [src]="project.imgPath"
      [alt]="project.name + ' screenshot'"
    />
  </div>
  <div class="project-data">
    <div class="project-title">{{ project.name }}</div>
    <div class="tech-stack">
      @for (tech of project.techStack; track tech; let last = $last) {
        <span class="tech">{{ tech }}</span>
        @if (!last) {
          <span class="divider">|</span>
        }
      }
    </div>
    <div class="project-description-text">
      {{ project.descriptionKey | translate }}
    </div>
    <div class="project-buttons">
      <a
        target="_blank"
        rel="noopener"
        [href]="project.liveTestUrl"
        class="button-optic btn-purple live-test"
        >Live test</a
      >
      <a
        target="_blank"
        rel="noopener"
        [href]="project.gitHubUrl"
        class="button-optic btn-empty git-hub"
        >GitHub</a
      >
    </div>
  </div>
</section>
