@import "./../../../shared/scss/global.scss";

section {
  @include dFlex($ai: start);
  padding: 110px;
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  max-width: 1920px;
}

a {
  color: $accent-color;
}

h2 {
  color: $secondary-color;
  font-weight: 600;
}

h1 {
  color: $secondary-color;
  font-weight: 600;
  font-size: 48px;
}
