<section>
  <div class="wrapper">
    <div>
      <h1>{{ "imprint.title" | translate }}</h1>
      <br /><br />

      <p>{{ "imprint.description" | translate }}</p>
      <p>{{ "imprint.name" | translate }}</p>
      <p>{{ "imprint.address" | translate }}</p>
      <p>
        <strong>{{ "imprint.email_label" | translate }}</strong>
        <a href="mailto:info@kaloyanivanov.de">info&#64;kaloyanivanov.de</a>
      </p>
      <br />

      <h2>{{ "imprint.eu_dispute_resolution.title" | translate }}</h2>
      <br />
      <p>
        {{ "imprint.eu_dispute_resolution.description" | translate }}<br />
        <a
          href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE"
          target="_blank"
          rel="follow noopener"
          >https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE</a
        >
      </p>
      <p>{{ "imprint.eu_dispute_resolution.notice" | translate }}</p>
      <br />

      <h2>{{ "imprint.liability_content.title" | translate }}</h2>
      <br />
      <p>{{ "imprint.liability_content.description" | translate }}</p>
      <p>{{ "imprint.liability_content.notice" | translate }}</p>
      <br />

      <h2>{{ "imprint.liability_links.title" | translate }}</h2>
      <br />
      <p>{{ "imprint.liability_links.description" | translate }}</p>
      <p>{{ "imprint.liability_links.notice" | translate }}</p>
      <br />

      <h2>{{ "imprint.copyright.title" | translate }}</h2>
      <br />
      <p>{{ "imprint.copyright.description" | translate }}</p>
      <p>{{ "imprint.copyright.notice" | translate }}</p>

      <p>{{ "imprint.copyright_text" | translate }}</p>

      <p>{{ "imprint.source" | translate }}</p>
    </div>
  </div>
</section>
