<section>
  <div class="wrapper">
    <section>
      <div class="wrapper">
        <h1>{{ "privacy.title" | translate }}</h1>
        <h2>{{ "privacy.overview.title" | translate }}</h2>

        <h2>{{ "privacy.overview.generalNotes.title" | translate }}</h2>
        <p>{{ "privacy.overview.generalNotes.content" | translate }}</p>
        <br />

        <h2>{{ "privacy.overview.dataCollection.title" | translate }}</h2>
        <h3>
          {{
            "privacy.overview.dataCollection.responsibleEntity.title"
              | translate
          }}
        </h3>
        <p>
          {{
            "privacy.overview.dataCollection.responsibleEntity.content"
              | translate
          }}
        </p>
        <h3>
          {{
            "privacy.overview.dataCollection.dataCollectionMethods.title"
              | translate
          }}
        </h3>
        <p>
          {{
            "privacy.overview.dataCollection.dataCollectionMethods.content"
              | translate
          }}
        </p>
        <h3>
          {{ "privacy.overview.dataCollection.dataUsage.title" | translate }}
        </h3>
        <p>
          {{ "privacy.overview.dataCollection.dataUsage.content" | translate }}
        </p>
        <h3>
          {{ "privacy.overview.dataCollection.dataRights.title" | translate }}
        </h3>
        <p>
          {{ "privacy.overview.dataCollection.dataRights.content" | translate }}
        </p>
        <br /><br />

        <h2>{{ "privacy.hosting.title" | translate }}</h2>
        <p>{{ "privacy.hosting.provider.title" | translate }}</p>
        <h3>{{ "privacy.hosting.provider.name" | translate }}</h3>
        <p>{{ "privacy.hosting.provider.details" | translate }}</p>
        <p>
          {{ "privacy.hosting.provider.privacy_policy_link" | translate }}
          <a
            href="https://www.strato.de/datenschutz/"
            target="_blank"
            rel="noopener noreferrer"
            >https://www.strato.de/datenschutz/</a
          >
        </p>
        <p>{{ "privacy.hosting.processingAgreement.content" | translate }}</p>
        <br /><br />

        <h2>{{ "privacy.generalInformation.title" | translate }}</h2>
        <h3>
          {{ "privacy.generalInformation.dataProtection.title" | translate }}
        </h3>
        <p>
          {{ "privacy.generalInformation.dataProtection.content" | translate }}
        </p>
        <h3>
          {{ "privacy.generalInformation.responsibleEntity.title" | translate }}
        </h3>
        <p>
          {{
            "privacy.generalInformation.responsibleEntity.content" | translate
          }}
        </p>
        <h3>
          {{ "privacy.generalInformation.storageDuration.title" | translate }}
        </h3>
        <p>
          {{ "privacy.generalInformation.storageDuration.content" | translate }}
        </p>
        <h3>{{ "privacy.generalInformation.legalBasis.title" | translate }}</h3>
        <p>{{ "privacy.generalInformation.legalBasis.content" | translate }}</p>
        <h3>
          {{ "privacy.generalInformation.dataRecipients.title" | translate }}
        </h3>
        <p>
          {{ "privacy.generalInformation.dataRecipients.content" | translate }}
        </p>
        <h3>
          {{ "privacy.generalInformation.consentWithdrawal.title" | translate }}
        </h3>
        <p>
          {{
            "privacy.generalInformation.consentWithdrawal.content" | translate
          }}
        </p>
        <h3>
          {{ "privacy.generalInformation.objectionRights.title" | translate }}
        </h3>
        <p>
          {{ "privacy.generalInformation.objectionRights.content" | translate }}
        </p>
        <h3>
          {{ "privacy.generalInformation.complaintRight.title" | translate }}
        </h3>
        <p>
          {{ "privacy.generalInformation.complaintRight.content" | translate }}
        </p>
        <h3>
          {{ "privacy.generalInformation.dataPortability.title" | translate }}
        </h3>
        <p>
          {{ "privacy.generalInformation.dataPortability.content" | translate }}
        </p>
        <h3>
          {{
            "privacy.generalInformation.accessCorrectionDeletion.title"
              | translate
          }}
        </h3>
        <p>
          {{
            "privacy.generalInformation.accessCorrectionDeletion.content"
              | translate
          }}
        </p>
        <h3>
          {{ "privacy.generalInformation.restrictionRight.title" | translate }}
        </h3>
        <p>
          {{
            "privacy.generalInformation.restrictionRight.content" | translate
          }}
        </p>
        <h3>
          {{ "privacy.generalInformation.sslTlsEncryption.title" | translate }}
        </h3>
        <p>
          {{
            "privacy.generalInformation.sslTlsEncryption.content" | translate
          }}
        </p>
        <br /><br />

        <h2>{{ "privacy.contactForm.title" | translate }}</h2>
        <p>{{ "privacy.contactForm.description" | translate }}</p>
        <p>{{ "privacy.contactForm.legalBasis" | translate }}</p>
        <p>{{ "privacy.contactForm.dataRetention" | translate }}</p>
        <br /><br />

        <h2>{{ "privacy.pluginsAndTools.title" | translate }}</h2>
        <h3>{{ "privacy.pluginsAndTools.googleFonts.title" | translate }}</h3>
        <p>
          {{ "privacy.pluginsAndTools.googleFonts.description" | translate }}
        </p>
        <p>
          {{ "privacy.pluginsAndTools.googleFonts.moreInfo" | translate }}
          <a
            href="https://developers.google.com/fonts/faq"
            target="_blank"
            rel="noopener noreferrer"
            >https://developers.google.com/fonts/faq</a
          >
        </p>
        <p>
          {{ "privacy.pluginsAndTools.googleFonts.privacyPolicy" | translate }}
          <a
            href="https://policies.google.com/privacy?hl=de"
            target="_blank"
            rel="noopener noreferrer"
            >https://policies.google.com/privacy?hl=de</a
          >
        </p>
      </div>
    </section>
  </div>
</section>
